// INICIA CÓDIGO CSS DE OBRA PICTÓRICA


.Obra-Hero {
    background-color: $washed-color;;
    height: 580px;
}

.Obra-Hero-text {
    width: 444px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

    .Obra-Hero-text img{
        padding-bottom: 20px;
    }

    @media screen and (max-width: 500px){
        .Obra-Hero-text {
            width: 70%;
        }
        
    }

.Container-BloqueDos{
    margin: 0 auto;
    justify-content: center;
    gap: 5%;
}

.ObraImagen-BloqueDos {
    padding:10% 0 10% 0;
    gap: 5%;
    
}

.ObraTexto-BloqueDos {
    width:500px;
    margin-top: 20%;
}


@media screen and (max-width: 768px){
    .Container-BloqueDos {
        flex-direction: column-reverse;
    }

    .ObraTexto-BloqueDos {
        width:80%;
        margin: 10% auto;
    }

    .ObraImagen-BloqueDos {
        padding:0;
        overflow: hidden;
        
    }
}


.Obra-Section3 {
    flex-direction: column;
    padding: 5% 0 0 0;
    background-color: rgb(234, 242, 236);
    text-align: left;
}

.Obra-Section3Content {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 3%;
}

.Obra-Section3 img{
    width:700px;
    margin: auto;
    padding-bottom: 100px;
}

    @media screen and (max-width: 768px){
        .Obra-Section3Content {
            width: 85%;
            padding: 10% 0 10% 0;
        }

        .Obra-Section3 img{
            width:100%;
            margin: auto;
            padding-bottom: 0;
        }
        
    }